html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.green_box{
  width: 33.33%;
  height: 75%;
  background-color: #B8E986;
  float:right;
}
.red_box {
  width:100%;
  height: 33.4%;
  background-color:#D0021B;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 900%;
  font-size: 30px;
  font-family: Arial;
 
}
.blue_box {
  width: 33.33%;
  height: 100%;
  background-color: #4A90E2;
  float: left;  
}

.teal_box {
  width: 33.33%;
  height: 100%;
  background-color: #50E3C2;
  float:right;
}

.space {
  height: 100%;
  width: 100%;
}





