html, body {
  width: 100%;
  height: 100%;
}
.main_page {
  background-color: #DDDDDD;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.box_top {
  background-color: #444444;
  width: 100%;
  height: 25%;
  margin:0px 0px 0px 0px;
  
}
.box_white {
  background-color: #EFEFEF;
  width: 75%;
  height: 100%;
  margin: 0px 100px 0px 130px;
  overflow: auto;
}
.box_black {
  background-color: #222222;
  width: 75%;
  height: 25%;
  margin: 0px 100px 50px 130px;
}